a{
    display:inline-block;
}
.header {
    display: flex;
    align-items: center;
}
.header__sec{
    padding-bottom: 55px;
    padding-top: 55px;
}
.logo{
    font-size: 36px;
    line-height: 1.5;
    color: black;
    font-family: 'Poppins';

    & > span {
            color: #939393;
            font-size: 36px;
            line-height: 1.5;
            display: inline-block;
        }
}

.navigation{
    display: flex;
    align-items: baseline;
    margin-right: auto;
    margin-left: 228px;
}
.navigation__list{
    display: flex;
    align-items: baseline;
}
.navigation__item > a{
    font-size: 20px;
    line-height: 1.5;
    color: black;
    font-family: 'Poppins';
    font-weight: 500;
}
.navigation__item:not(:first-child){
    margin-left: 50px;
}

.btn{
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Poppins';
    min-width: 312px;
    height: 70px;
    color: black;
    background-color: white;
    border-radius: 10px;
    border-color: black;
    cursor: pointer;

    &--lets{
        margin-left: auto;
        margin-top: 5px;
    }
}

