.hero__title{
    font-size: 64px;
    line-height: 1.25;
    color: black;
}
.hero__text{
    color: #8F95A5;
    font-size: 24px;
    line-height: 1.5;
}
.btn-main{
    color: white;
    background: #000;
    cursor: pointer;
    font-size: 36px;
    line-height: 1.5;
}