h1,
p{
    margin: 0;
    padding: 0;
}

.hero__title{
    font-size: 64px;
    line-height: 1.25;
    color: black;
    font-family: 'Poppins', semi bold;
    font-weight: 600;
}
.hero__text{
    color: #8F95A5;
    font-size: 24px;
    line-height: 1.5;
    font-family:'Poppins' ;

    margin-top: 40px;
    text-align: start;
}
.btn-main{
    color: white;
    background: #000;
    cursor: pointer;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Poppins';
    border-radius: 10px;
    


    margin-top: 60px;
    padding: 23px 104px;
}
.top{
    margin-top: 55px;
}
.hero__section{
    display: flex;
    margin-top: 55px;
}
.hero__section > img{
    margin-left: auto;
}
.hero__wrapper{
    position: relative;
}
.hero{
    display: flex;
    align-items: flex-end;
    &__img{
        margin-bottom: 28px;
        margin-left: 34px;
    }
}