$main-light-color: #ffffff;
$main-dark-color: #263238;
$accent-color: #F5F5F5;
$price-color: #EEEEEE;

$text-white-color: #ffffff;
$text-ultrablack-color: #000000;
$text-black-color: #263238;
$text-grey-color: #8F95A5;

