<!-- About us -->
<section class="about">
  <div>
    <h2 class="about__title">About Us</h2>
    <p class="about__text">
      The model offers a framework for discussing problems related to the user's experience, as well
      as possible ways and means of solving them. Application development begins at the top level
      (strategy), where the future software product is described quite abstractly from the point of
      view of the expectations of both users and the customer.
    </p>
    <ul class="about__list">
      <li>
        <img src="" alt="" width="" height="" />
        <p>Pupils</p>
      </li>
      <li>
        <img src="" alt="" width="" height="" />
        <p>Teachers</p>
      </li>
      <li>
        <img src="" alt="" width="" height="" />
        <p>Foreign languages</p>
      </li>
    </ul>
  </div>
  <img src="" alt="" width="" height="" />
</section>
