
<div class="container">
	<h2 class="title">Pricing</h2>
	<ul class="pricing">
		<li>
			<div class="item">
				<img src="./images/self-study.png" alt="Self-study online course" width="426" />
				<h3 class="item__title">Self-study online course</h3>
				<p class="item__meta">
					Start learning English online in live classes with qualified EC teachers and students from
					all over the world.
				</p>
				<div class="item__price-container">
					<div>£5.99</div>
					<div>per month</div>
				</div>
			</div>
		</li>
		<li>
			<div class="pricing__item">
				<img src="./images/live-online.png" alt="Live online classes" width="426" />
				<h3 class="item__title">Live online classes</h3>
				<p class="item__meta">Interactive group classes with expert teachers. Free 7-day trial</p>
				<div class="item__price-container">
					<div>£12.99</div>
					<div>per month</div>
				</div>
			</div>
		</li>
		<li>
			<div class="pricing__item">
				<img src="./images/personal_tuition.png" alt="Personal Tuition" width="426" />
				<h3 class="item__title">Personal Tuition</h3>
				<p class="item__meta">
					Online one-to-one English tutoring – enjoy our first session for only $1
				</p>
				<div class="item__price-container">
					<div>£12.99</div>
					<div>per month</div>
				</div>
			</div>
		</li>
	</ul>
</div>
=======
<div class="container pricing--container">
<h2 class="title">Pricing</h2>
<ul class="pricing">
    <li>
        <div class="item">
            <img src="./images/self-study.png" alt="Self-study online course" width="426">
            <h3 class="item__title">Self-study online course</h3>
            <p class="item__descr">Start learning English online in live classes
            with qualified EC teachers and students
            from all over the world.</p>
            <div class="item__price-container">
                <div class="price">£5.99</div>
                <div>per month</div>
            </div>
        </div>
    </li>
    <li>
        <div class="item">
            <img src="./images/live-online.png" alt="Live online classes" width="426">
            <h3 class="item__title">Live online classes</h3>
            <p class="item__descr">Interactive group classes with expert
            teachers. Free 7-day trial</p>
            <div class="item__price-container">
                <div class="price">£12.99</div>
                <div>per month</div>
            </div>
        </div>
    </li>
    <li>
        <div class="item">
            <img src="./images/personal_tuition.png" alt="Personal Tuition" width="426">
            <h3 class="item__title">Personal Tuition</h3>
            <p class="item__descr">Online one-to-one English tutoring – enjoy
            our first session for only $1</p>
            <div class="item__price-container">
                <span class="price">£12.99</span>
                <span>per month</span>
            </div>
        </div>
    </li>
</ul>
</div>

