<h2>Pricing</h2>
<ul>
    <li>
        <div>
            
            <h3>Self-study online course</h3>
            <p>Start learning English online in live classes
            with qualified EC teachers and students
            from all over the world.</p>
            <div>
                <div>£5.99</div>
                <div>per month</div>
            </div>
        </div>
    </li>
    <li>

        <h3>Live online classes</h3>
        <p>Interactive group classes with expert
        teachers. Free 7-day trial</p>
        <div>
            <div>£12.99</div>
            <div>per month</div>
        </div>
    </li>
    <li>
        <h3>Self-study online course</h3>
        <p>Start learning English online in live classes
            with qualified EC teachers and students
            from all over the world.</p>
        <div>
            <div>£5.99</div>
            <div>per month</div>
        </div>
    </li>
</ul>