<section class="skills main__skills">
    <div class="container">
        <h2 class="skills__title">Skills</h2>
        <ul class="skills__list">
            <div class="box">
                <li class="skills__item speaking">
                    <img src="./images/speaking.png" alt="Speaking img" width="390">
                    <h3 class="skills__name">Speaking</h3>
                    <p class="skills__text">
                        Improve your English skills and confidence.
                        Live classes and interactive lessons online.
                        20% extra free for a limited time only
                        </br>
                        </br>
                        Learn English online and improve your
                        skills through our high-quality courses
                        and resources – all designed for adult language learners.
                    </p>
                    <button type="button" class="skills__button">Learn more</button>
                </li>
                <li class="skills__item writing">
                    <img src="./images/writing.png" alt="Writing img" width="390">
                    <h3 class="skills__name">Writing</h3>
                    <p class="skills__text">
                        One of the most important and extensive
                        areas of natural science, the science that
                        studies substances, also their composition
                    </p>
                    <button type="button" class="skills__button">Learn more</button>
                </li>
                <li class="skills__item reading">
                    <img src="./images/reading.png" alt="Reding img" width="390">
                    <h3 class="skills__name">Reading</h3>
                    <p class="skills__text">
                        Perception and response actions of the user
                        resulting from the use and/or upcoming use
                        of the product, system or service
                    </p>
                    <button type="button" class="skills__button">Learn more</button>
                </li>
            </div>
            <li class="skills__item listening">
                <div>
                    <h3 class="skills__name">Listening</h3>
                    <p class="skills__text listening__text">
                        Here you can find activities to practise
                        your listening skills. Listening will help you to improve your understanding
                    </p>
                    <button type="button" class="skills__button">Learn more</button>
                </div>
                <img src="./images/listening.png" alt="Listening img" width="408">
            </li>
        </ul>
    </div>
</section>